test_case/**
!test_case/**/
!test_case/**/*.rx
!test_case/**/*.in
!test_case/**/*.out

# 测试分类工具
split_tests
split_tests.cpp

# 测试结果文件夹
mytest/

docs/

build/

.vscode/

tmp/

clean_semantic2
clean_semantic2.cpp