name: CI

on:
  push:
    tags:
      -'*'

jobs:
  test-on-tags:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 编译
        run: g++ -std=c++20 -O2 src/main.cpp -o main

      - name: test_case输入并运行
        run: |
          for file in test_case/*; do
            echo "运行测试用例: $file"
            ./main < "$file"
          done